<ion-list *ngFor="let job of favJobs" (click)="openJob(job)">
      <ion-item>
        <span item-left *ngIf="job.appliedOn">
          APPLIED ON {{job.appliedOn | date}}
        </span>
        <span item-left *ngIf="!job.appliedOn">
            NOT APPLIED
          </span>
      </ion-item>
      <ion-item>
          <ion-avatar >
              <img src = "{{job.imgURL}}">
              </ion-avatar>
      </ion-item>
        <ion-item text-wrap >
      <h1>{{job.jobTitle}}</h1>
           <p>{{job.jobLocation}}</p>
          
       </ion-item>
       <ion-item class="bottom-part">
 <ion-grid>
       <ion-row>
         <ion-col class="label-title" col-3>Benefits</ion-col>
         <ion-col text-wrap>{{job.benefits}}</ion-col>  
         
         
        </ion-row>
        <ion-row>
        <ion-col class="label-title" col-3>Type</ion-col>
        <ion-col>{{job.jobType}}</ion-col>  
      </ion-row>
         

        </ion-grid>
          </ion-item>
 
    </ion-list>
