<ion-header>

    <ion-navbar color="hcolor">
        <ion-title *ngIf="groupId">{{group.name}}</ion-title>
        <ion-title *ngIf="!groupId">New Group</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
    <ion-item class="profile-image" (click)="chooseimage()" *ngIf="groupId">
        <img src="{{group.pictureUrl}}">
        <br>
        <span class="hyper-link" (click)="isUploading = true">Update group photo</span>
    </ion-item>
    <ion-item text-center class="profile-picture-buttons" *ngIf="isUploading === true">
        <button ion-button (click)="shoot()">
            <ion-icon name="camera"></ion-icon>
            Click
        </button>
        <button ion-button (click)="picture()">
                <ion-icon name="image"></ion-icon>
            Upload
        </button>
        <button ion-button (click)="isUploading = false">
                <ion-icon name="close"></ion-icon>
            Cancel
        </button>
    </ion-item>
    
        <ion-item >
            
            <ion-input  type="text" placeholder="Group Name" [(ngModel)]="group.name" (ionBlur)="saveGroup()" *ngIf="!groupId"> </ion-input>
            <ion-input  type="text" placeholder="Group Name" [(ngModel)]="group.name" (ionBlur)="saveGroup()" *ngIf="group.ownerId === uid"> </ion-input>
            <ion-label *ngIf="groupId && (group.ownerId !== uid)">{{group.name}}</ion-label>
            <ion-icon name="checkmark-circle" *ngIf="group.name" 
                class="correct" item-end></ion-icon>
            <ion-icon name="close-circle" *ngIf="!group.name" 
                class="incorrect" item-end></ion-icon>
        </ion-item>

        <ion-item *ngIf="groupId">
            <ion-textarea placeholder="Description" 
            *ngIf="group.ownerId === uid"
            [(ngModel)]="group.description" (ionBlur)="UpdatedDesc()"> </ion-textarea> 
            <ion-label 
            *ngIf="group.ownerId !== uid">{{group.description}}</ion-label>
             
        </ion-item>

        <ion-list-header *ngIf="groupId">
            Members
            <ion-icon name="person-add" style="float:right" (click)="addMember()" *ngIf="group.ownerId === uid"></ion-icon>
        </ion-list-header>
        
        <ion-item *ngFor="let item of members">
            <ion-avatar item-left>
                <img src="{{item.pictureUrl}}">
            </ion-avatar>
            <h3>{{item.displayName}}</h3>
            <ion-icon item-right name="remove-circle" (click)="removeMember(item)" *ngIf="(group.ownerId === uid) && (item.id !== uid)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>