<ion-header>

    <ion-navbar color="hcolor">
        <ion-title>Contacts</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addContact()">
        <ion-icon name="person-add"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list no-lines>
        <ion-list-header>
            Requests
        </ion-list-header>
        <ion-item *ngFor="let item of myRequests">
                <ion-avatar item-left>
                    <img src="{{item.senderImgUrl}}">
                </ion-avatar>
                <h4>{{item.senderName}}</h4>
                <ion-icon name="checkmark" color="secondary" (click)="accept(item)" item-right></ion-icon>
        
                <ion-icon name="trash" color="danger" (click)="ignore(item)" item-right></ion-icon>
            
        </ion-item>

        <ion-list-header>
            Friends
        </ion-list-header>
        <ion-item *ngFor="let item of myContacts" >
            <ion-avatar item-left>
                <img src={{item.pictureUrl}}>
            </ion-avatar>
            <h3>{{item.displayName}}</h3>
            <ion-icon name="chatboxes" (click)="contactChat(item)" item-right></ion-icon>
        </ion-item>
    </ion-list> 

</ion-content>
