<ion-header>
  <ion-navbar>
    <ion-title>Event Details</ion-title>
  </ion-navbar>
</ion-header>
    
<ion-content>
    <ion-list>
      <ion-item>
          <ion-badge *ngIf="event.price === 0">Free</ion-badge>
          <ion-badge *ngIf="event.price > 0">Paid</ion-badge>
          <button ion-button clear icon-only item-right (click)="favorite()"> 
              <ion-icon name="star" *ngIf="isFavorite === true"></ion-icon>
              <ion-icon name="star-outline" *ngIf="isFavorite === false"></ion-icon>
          </button>
      </ion-item>
    
      <ion-item>
        <span class="event-name">{{event.name}}</span>
        <p>Starts on <strong>{{event.date | date}}</strong>
            at <strong>{{event.time}}</strong></p>
      </ion-item>
 
      <ion-item>
        <ion-avatar item-left>
          <img src = "{{event.imageUrl}}">
        </ion-avatar>
        <ion-grid>
            <ion-row>
            
            <ion-col >
                <h2>LOCATION</h2>
              <p>{{event.location.address}}</p>
              <p>{{event.location.city}} {{event.location.state}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item text-wrap>
        <span [innerHTML]="event.description">
        </span>
        
      </ion-item>
      <ion-item>
        <span>Seats available: {{event.capacity - event.attendance}}</span>
        <span item-right>
            Fee: {{event.price | currency}}
          </span>
      </ion-item>
  </ion-list>

  <ion-list padding>
    <button ion-button block color="secondary" (click)="register()" *ngIf="(isRegistered === false) && ((event.capacity - event.attendance) > 0)">Register</button>
    <span *ngIf="isRegistered === true">You have registered for this event</span>
    <span *ngIf="(isRegistered === false) && ((event.capacity - event.attendance) === 0)">Sorry! The seats are full.</span>
  </ion-list>         
</ion-content>    