<ion-header>
        <ion-navbar>
                <ion-title>Profile</ion-title>
                <ion-buttons end>
                    <button ion-button icon-only (click)="closeModal()">
                    <ion-icon name ="ios-close-circle-outline" color="dark" >
                    </ion-icon>
                 </button>
                </ion-buttons>
            </ion-navbar>
        
</ion-header>

<ion-content padding>
    
    <ion-list>
        <ion-list-header>
            Contact Information
        </ion-list-header>
        <ion-item >
            <ion-input  type="text" placeholder="Display Name" [(ngModel)]="name" (ionBlur)="saveName()"> </ion-input>
            <ion-icon name="checkmark-circle" *ngIf="name !== ''" 
                class="correct" item-end></ion-icon>
            <ion-icon name="close-circle" *ngIf="name === ''" 
                class="incorrect" item-end></ion-icon>
        </ion-item>
         <ion-item>
                <ion-input type="email" placeholder="Email" [(ngModel)]="email" (ionBlur)="saveEmail()"> </ion-input>
                <ion-icon name="checkmark-circle" *ngIf="email !== ''" 
                class="correct" item-end></ion-icon>
            <ion-icon name="close-circle" *ngIf="email === ''" 
                class="incorrect" item-end></ion-icon>
        </ion-item>
        <ion-item>
                <ion-input type="number" placeholder="Phone" [(ngModel)]="phone" (ionBlur)="savePhone()"> </ion-input>
                <ion-icon name="checkmark-circle" *ngIf="phone && (phone !== '')" 
                class="correct" item-end></ion-icon>
            <ion-icon name="close-circle" *ngIf="(!phone) || (phone === '')" 
                class="incorrect" item-end></ion-icon>
        </ion-item>

        <ion-item>
                <ion-input type="text" placeholder="Zip" [(ngModel)]="zip" (ionBlur)="saveZip()"> </ion-input>
                
        </ion-item>

        <ion-item>
            <ion-label>Country</ion-label>
            <ion-select [(ngModel)]="countryId" *ngIf="countryList"
                (ionChange)="selectCountry()" >
                    <ion-option *ngFor="let item of countryList"
                    value="{{item.id}}">{{item.name}}</ion-option>
            </ion-select>
            
        </ion-item>

        <ion-list-header>
            Experience
        </ion-list-header>

<ion-item>
    <ion-input type="text" [(ngModel)]="title" (ionBlur)="saveTitle()" placeholder="Title"> </ion-input>
    
</ion-item>

<ion-item>
        <ion-label>Industry</ion-label>
        <ion-select [(ngModel)]="industryId" *ngIf="industryList"
            (ionChange)="selectIndustry()" >
                <ion-option *ngFor="let item of industryList"
                value="{{item.id}}">{{item.name}}</ion-option>
        </ion-select>
        
      

    </ion-item>
    <ion-item>
            <ion-label>Experience</ion-label>
            <ion-select [(ngModel)]="experienceId" *ngIf="experienceList"
                (ionChange)="selectExperience()" >
                    <ion-option *ngFor="let item of experienceList"
                    value="{{item.id}}">{{item.name}}</ion-option>
            </ion-select>
            
        </ion-item>

        <ion-item>
                <ion-label>Education</ion-label>
                <ion-select [(ngModel)]="educationId" *ngIf="educationList"
                    (ionChange)="selectEducation()" >
                        <ion-option *ngFor="let item of educationList"
                        value="{{item.id}}">{{item.name}}</ion-option>
                </ion-select>
                
            </ion-item>
        <ion-list-header>
            Job Preference
        </ion-list-header>

        <ion-item>
                <ion-label>Desired Salary</ion-label>
                <ion-select [(ngModel)]="salaryId" *ngIf="salaryList"
                    (ionChange)="selectSalary()" >
                        <ion-option *ngFor="let item of salaryList"
                        value="{{item.id}}">{{item.name}}</ion-option>
                </ion-select>
                
            </ion-item>

            <ion-item>
                <ion-label>I am willing to relocate</ion-label>
                <ion-toggle [(ngModel)]="relocate" (ionChange)="saveRelocate()"></ion-toggle>
            </ion-item>

            
            <ion-item>
                    <ion-label>Add me to resume database</ion-label>
                    <ion-toggle [(ngModel)]="resume" (ionChange)="saveResume()"></ion-toggle>
                </ion-item>
                <ion-list-header>
                        Social
                    </ion-list-header>
              
        <ion-item>
                <ion-input type="text" placeholder="LinkedIn URL" [(ngModel)]="linkedInUrl" (ionBlur)="saveLinkedIn()"> </ion-input>
                
        </ion-item>      

        <ion-item>
                <ion-input type="text" placeholder="Twitter URL" [(ngModel)]="twitterUrl" (ionBlur)="saveTwitter()"> </ion-input>
                
        </ion-item>      
        <ion-item>
                <ion-input type="text" placeholder="Facebook URL" [(ngModel)]="facebookUrl" (ionBlur)="saveFacebook()"> </ion-input>
                
        </ion-item>      
    </ion-list>
</ion-content>