page-references {
    .place-holder {
        font-size: 14px;
        color: darkgrey;
        
    }

    .submit {
        width: 60%;
        left: 20%;
        border-radius: 25px;
        background: black;
        color: white;
        font-size: 20px !important;
        padding: 20px !important;
    }

    .back-button {
        display: none !important;
    }
}
