resume {
    ion-item {
        ion-label {
            margin: 0 !important;
        }


        .select-file {
            border-radius: 4px;
            background-color: #387ef5;
            color: #fff;
            margin: 0.4rem 0.2rem;
            font-size: 1.3rem;
        }
        
        .sub-text {
            font-size: 12px;
            color: gray;
        }
    }
}
