

  <ion-navbar>
  <ion-buttons start>
     <button ion-button icon-only (click)="presentModal()"  >
      <ion-icon color="dark" name="ios-menu-outline"></ion-icon>
     </button>
</ion-buttons>
    <ion-title>Find Jobs</ion-title>
    <ion-buttons end>
    <button ion-button icon-only>
      <ion-icon color="dark" name="ios-notifications-outline"></ion-icon>
     </button>
     <button ion-button icon-only>
      <ion-icon color="dark" name="ios-mail-outline"></ion-icon>
     </button>
</ion-buttons>
  </ion-navbar>

