page-notifications-settings {
    .place-holder {
        font-size: 14px;
        color: darkgrey;
        
    }
    button.back-button {
        -webkit-transform: none !important; 
         transform: none !important; 
    }

}
