page-users {
    button.back-button {
        -webkit-transform: none !important; 
         transform: none !important; 
    }

    ion-avatar {
        img {
            height: 40px !important;
            width: 40px !important;
        }
    }
}
