page-menu {
    .profile-picture-buttons {
        button {
            font-size: 24px;
            padding: 10px;

            ion-icon {
                margin-right: 10px;
                font-size: 24px;
            }
        }
    }

    img {
        // border-radius: 50%;
        width: 50%;
        height: 50%;
        border: solid 3px black;
    }
    button.back-button {
        -webkit-transform: none !important; 
         transform: none !important; 
    }

    .hyper-link {
        color: #3232ff;
        font-size: 12px;
    }

    .view-profile {
        color: lightgray;
        font-size: 12px;
    }

    .sign-out {
        color:red !important;
    }
}
