page-menu {
    
    img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: solid 1px black;
    }
    button.back-button {
        -webkit-transform: none !important; 
         transform: none !important; 
    }

    .select-file {
        border-radius: 4px;
        background-color: #387ef5;
        color: #fff;
        margin: 0.4rem 0.2rem;
        font-size: 1.3rem;
    }

    .profile-picture-buttons {
        button {
            font-size: 24px;
            padding: 10px;

            ion-icon {
                margin-right: 10px;
                font-size: 24px;
            }
        }
    }

    .hyper-link {
        color: #3232ff;
        font-size: 12px;
    }

    .view-profile {
        color: lightgray;
        font-size: 12px;
    }

    .sign-out {
        color:red !important;
    }
}
